<!--Esta vista nos permite loguearnos-->
<div class="formsContainer" style="background-color: rgba(128, 128, 128, 0.483)">
    <h1 style="background-color:black; padding: 2%; color: white">Login</h1>
    <form id="loginForm">
        <div class="lineForms">
            <label>Email:</label>
            <input name="email">
        </div>
        <div class="lineForms">
            <label>Contraseña:</label>
            <input type="password" name="password">
        </div>
        <div class="lineForms">
            <input type="submit" style="background-color: #f5f5dc; width: 30%; font-size: 14px; border-radius: 10px" >
        </div>
    </form>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
    <p> ¿Tienes una cuenta en GitHub? <a href="/github/login">Regístrate mediante ella :)</a></p>
</div>
<footer>
    <img src="/img/footer_PanchoRoss.png" alt="Pancho Ross">
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script> 