<!--Esta vista nos permite resetear la contraseña-->
<div class="formsContainer">
    <h1 style="background-color: rgb(67, 150, 171); padding: 2%; color: white; margin-bottom: 0%">Actualizar contraseña:</h1>
    <form id="resetPassForm" action="/reset-password/{{token}}" method="post" style="color: white; text-align: center; background-image: url('/img/fondoGeneral_PanchoRoss.png'); padding-top: 5%; padding-bottom: 5%">
        <div style="margin-bottom: 1.5%;">
            <label style="background-color: rgba(71, 110, 120, 0.691); padding-left: 2%; padding-right: 2%;">Correo registrado:</label>
            <input name="email">
        </div>
        <div style="margin-bottom: 1.5%;">
            <label style="background-color: rgba(71, 110, 120, 0.691); padding-left: 2%; padding-right: 2%;">Nueva Contraseña:</label>
            <input type="password" name="newPassword">
        </div>
        <div>
            <button type="submit" style="margin-bottom: 1.5%; background-color: rgb(67, 150, 171); border-radius: 12px; padding-left: 5%; padding-right: 5%;">Reset Password</button>
        </div>
    </form>
</div>

<footer>
    <img src="/img/footer_PanchoRoss.png" alt="Pancho Ross">
</footer>