<div class="formsContainer" style="background-color: rgba(3, 40, 77, 0.632);">
    <h1 style="background-color: rgb(67, 150, 171); padding: 2%; color: white">Actualizar contraseña:</h1>
    <form id="resetPassForm" action="/reset-password/{{token}}" method="post" style="color: white; text-align: center">
        <div style="margin-bottom: 1.5%;">
            <label>Correo registrado:</label>
            <input name="email">
        </div>
        <div style="margin-bottom: 1.5%;">
            <label>Nueva Contraseña:</label>
            <input type="password" name="newPassword">
        </div>
        <div style="margin-bottom: 1.5%;">
            <button type="submit" style="margin-bottom: 1.5%">Reset Password</button>
        </div>
    </form>
</div>