<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pancho Ross</title>
    <link rel="stylesheet" href="/css/{{{style}}}">
    <!--Favicon-->
    <link rel="shortcut icon" href="/img/logoNegro_PanchoRoss.png" type="image/x-icon">
</head>
<body>
    {{{body}}}
</body>
</html>